/* RECUERDA AJUSTAR DEPENDIENDO DEL TAMAÑO DEL DISPOSITIVO, LO QUE VA EN MOBILE VA DE 768PX HASTA 1023PX-
 LO QUE VA EN DESKTOP VA DE LOS 1024PX EN ADELANTE/*
/* =============================
Tablets (Breakpoints: 768px a 1023px)
Cambiamos el diseño por algo mas ancho.
==================================*/

@media (min-width: 768px) {
    .quienes-somos{
    display: grid;
    grid-template-columns: auto;
}
/*SERVICIOS*/

.servicios{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}
.footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 30px;
}

.logo-footer{
    max-width: 200px;
}

.contacto{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 0;
}

.mapa{
    height: 400px;
}

.img-fluid{
    width: 100%;
    height: auto;
}
}
/* =============================
Desktop (Breakpoints: 1024px en adelante)
Cambiamos el diseño por algo mas ancho.
==================================*/

@media (min-width: 1024px) {
     .quienes-somos{
    display: grid;
    grid-template-columns: auto auto;
}
/*SERVICIOS*/
.container-fluid{
    width: 100%;
    margin-top: 0;}

.footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 30px;
}
.servicios{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}
.logo-footer{
    width: 300px;
}

.contacto{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.mapa{
    height: 400px;
}
}